// Widget store app colors
$skyBlue: #2295B9;
$mainBlue: #1E5799;
$mediumBlue: #207CCA;
$ligthBlue: #2989D8;
$veryLightyBlue: #7DB9E8;
$black: #000;
$white: #FFF;

// Breakpoints
$tablet: 768px;
$mobile: 640px;
$desktop: 1024px;
