// Widget store app colors
$skyBlue: #2295B9;
$mainBlue: #1E5799;
$mediumBlue: #207CCA;
$ligthBlue: #2989D8;
$veryLightyBlue: #7DB9E8;

$black: #000;
$white: #FFF;

$ligthyGray: #C5C5C5;
$strongGray: #464545;
$veryLigthyGray: #D6D7D8;

// Breakpoints
$tablet: 1024px;
$mobile: 768px;
